@import "style_preproc.css";
@import "bootstrap.css";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #FFFFFF;
}

header {
  padding: 31px 0;
}
header .nav-item {
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 120% */
  text-transform: uppercase;
}

.container {
  max-width: 1249px;
  margin: 0 auto;
}

.main_row {
  padding-left: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background: #DCE5E2;
}
.main_row h1 {
  padding-bottom: 19px;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 69.6px; /* 120% */
}
.main_row p {
  padding-bottom: 30px;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
}
.main_row a {
  text-decoration: none;
  border-radius: 200px;
  border: 1px solid #000;
  padding: 14px 53px;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
  text-transform: capitalize;
}

.main_img {
  position: relative;
}

.our_categories {
  padding: 28px 0 56px;
}
.our_categories h2 {
  padding-top: 75px;
  padding-bottom: 9px;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px; /* 125% */
}
.our_categories p {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 120% */
}

.categories {
  border-radius: 32px;
  background: #FFF;
}
.categories .laptop {
  border-radius: 32px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
}
.categories h3 {
  color: #000;
  text-align: right;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 128% */
}
.categories p {
  color: #000;
  text-align: right;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px; /* 120% */
}
.categories .clock {
  border-radius: 32px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
}
.categories .clock img {
  left: 0;
}
.categories .mobiles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
}
.categories .tablet {
  border-radius: 32px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
}

.items {
  padding-top: 78px;
}
.items h3 {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px; /* 125% */
}
.items p {
  padding-bottom: 59px;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 129.231% */
}

.selled_items {
  display: block;
  text-align: start;
}
.selled_items img {
  padding-bottom: 37px;
}
.selled_items h4 {
  padding-bottom: 9px;
}
.selled_items p {
  padding-bottom: 25px;
}

.see_best h4 {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px; /* 125% */
}
.see_best p {
  padding-bottom: 56px;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 129.231% */
}

.items_background {
  border-radius: 16px;
  background: #F8F9FA;
}
.items_background h5 {
  padding-top: 41px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 129.231% */
}
.items_background p {
  padding-bottom: 30px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 125% */
}
.items_background a {
  text-decoration: none;
  border-radius: 200px;
  border: 1px solid #000;
  padding: 14px 63px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
  text-transform: capitalize;
}
.items_background img {
  padding-top: 30px;
}

.ideas h4 {
  padding-top: 75px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px; /* 125% */
}
.ideas p {
  padding-bottom: 56px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 129.231% */
}

.ideas_plan {
  padding-bottom: 23px;
  padding-left: 35px;
}
.ideas_plan p {
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

.see_all {
  padding-top: 73px;
  padding-bottom: 24px;
}
.see_all a {
  text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 120% */
  text-transform: capitalize;
}

.me-2 {
  padding: 21px 0;
  border-radius: 100px;
  border: 1px solid #C5C5C5;
  background: #F8F9FA;
}

.d-flex {
  padding-top: 24px;
}
.d-flex .form-control {
  padding-left: 67px;
  color: #000;
  text-align: start;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 120% */
}

.links_searching {
  padding-top: 18px;
  padding-bottom: 7px;
}
.links_searching .search_links {
  padding: 12px 22px;
  border-radius: 200px;
  border: 1px solid #C5C5C5;
  background: #FFF;
  text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 120% */
}

.subscribe {
  padding-top: 68px;
}
.subscribe .notification {
  border-radius: 16px;
  background: #DCE5E2;
}
.subscribe .notification h4 {
  padding-top: 47px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px; /* 125% */
}
.subscribe .notification p {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
}
.subscribe .notification .media_form {
  padding-top: 14px;
  padding-bottom: 43px;
}
.subscribe .notification .media_form input {
  border-radius: 54px 0px 0px 54px;
  border: 1px solid #000;
  background: #DCE5E2;
  padding: 16px 184px 16px 32px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 120% */
}
.subscribe .notification .media_form button {
  border-radius: 0px 200px 200px 0px;
  background: #000;
  padding: 16px 33px;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif "Readex Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 120% */
}